development:
  DATABASE: db-dev
  USERNAME:
  PASSWORD:
  DATABASE_TEST: db-test
  USER_SWAG:
  PASS_SWAG:
  REDIS_URL: redis://127.0.0.1:6379/0
  APP_SESSION_KEY:
  EMAIL_PROVIDER:
  EMAIL_DOMAIN:
  EMAIL_FROM:
  EMAIL_PASSWORD:
